{#
  Advertise COMPONENT
  SASS: /components/advertise
#}
{% block content %}
    
    <div class="advertise__description">
        <center>
            {{component['advertise__description']}}
        </center>
    </div>
    <div class="advertise__image" >
        <img src="{{component['advertise__image']}}">
    </div>
       
{% endblock %}    
