{#
  MORE INFO COMPONENT
  SASS: /components/moreinfogroup
#}
{% block content %}
  <div class="more-info__img">
      <img src="{{component['more-info__image']}}" />
  </div>
  <div class="more-info__name">
      <b>{{component['more-info__name']}}</b>
  </div>
  <div class="more-info__description">
      <p>{{component['more-info__description']}}</p>
  </div>
  <div class="more-info__coming-soon">
      <p>{{component['more-info__coming-soon']}}</p>
  </div>
       
{% endblock %}    
