{% block content %}

 <div class = "offer__title">
 <center><h2>{{ component["offer_title"]}}</h2></center>
 </div>

 <div>
 <div><center>{{ component["offer_image"]}}</center></div>
  <a href="https://tsgmovies.local/GroupB/?page_id=1016/">
 </div>

 <div>{{ component["offer_text"]}}</div>



{% endblock %}    