/**
  BREAKPOINTS
  breakpoint constants
**/

// Mobile
$xs-breakpoint: 576px;
$xs: (media: $xs-breakpoint);

// Tablet
$sm-breakpoint: 768px;
$sm: (media: $sm-breakpoint);

// Tablet Max
$sm-max-breakpoint: 'only screen and (max-width: 992px)';
$sm-max: (media: $sm-max-breakpoint);

// Desktop
$md-breakpoint: 992px;
$md: (media: $md-breakpoint);

// Desktop Max
$md-max-breakpoint: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-max: (media: $md-max-breakpoint);

// Large Desktop
$lg-breakpoint: 1200px;
$lg: (media: $lg-breakpoint);

// Call Button Responsive
$call-button: 'only screen and (max-width: 1373px)';
$cb: (media: $call-button);

// Extra Large Desktop
$xl-breakpoint: 1440px;
$xl: (media: $xl-breakpoint);

// Extra Extra Large Desktop
$xxl-breakpoint: 1600px;
$xxl: (media: $xxl-breakpoint);
