/**
  COLORS
  color palette
**/

// Greyscale color
$black: #000000;
$white: #FFFFFF;
$grey-border: #D1D1D1;
$grey-xtra-light: #F5F8FB;
$grey-light: #E4E5E9;
$grey-medium: #C4C7CC;
$grey-dark: #9AA5AB;
$grey-xtra-dark: #556066;
$grey-star: #BABABA;
$light-blue: #39A6E0;
$black-light: #110C0C;
$pearl-white: #FEFEFE;

// Primary Colors
$blue-primary: #55B3E6;
$orange-primary: #F47720;
$purple-primary: #6941C2;

// Secondary Colors
$blue-secondary: #006FAB;
$green-secondary: #7AFF75;
$purple-secondary: #4F36FF;
$orange-secondary: #FF8705;

// Additional Colors
$red-important: #FF0000;
$purple-dark: #5025AF;
$blue-grey: #F5F8FB;
$blue-dark: #078DD5;
$blue-light: #39A6E0;
$blue-light-grey: #F8F8F9;
$yellow: #FFB300;
$blue-xtra-light: #f1f9fc;

// Shadow
$shadow-color: rgba(0, 0, 0, 0.16);
$pagination-shadow-color: rgba(0, 0, 0, 0.13);
