.footer__col footer__col--left{
    padding: 70px 0;
}

.footer__col footer__col--center{
    padding: 210px 0;
}

.footer{

    &__socials {
    
        width: 100%;
    
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 200px;
          width: 100%;
    
          li {
            line-height: 1;
    
            svg {
              fill: $blue-secondary;
              height: 25px;
              width: 25px;
              transition: $transition-single ease;
    
              &:hover {
                fill: $blue-dark;
              }
            }
          }
        }
    }
}