//*------------------------------------*\
//    $STATCARDS COMPONENT
//*------------------------------------*/

.statcards {
    margin: 0;
    padding: px-to-rem(60px) 0;
    .component__content {
        padding: px-to-rem(15px);
    }
    .component__background {
        background-color: map-get($colors, darkgreen);
    }
    .statcards__list-item {
        transition: opacity 1s ease-in 0.5s;

        &:first-child {
            margin-top: px-to-rem(-60px);
        }
        &:not(:last-of-type) {
            margin-bottom: px-to-rem(60px);
        }
    }

    .statcards__list {
        &[data-position="below-viewport"],
        &[data-visible="false"] {
            .statcards__list-item {
                opacity: 0;
            }
        }
    }

    .statcards__list {
        margin-left: auto;
        margin-right: auto;
    }

    .component__copy {
        p {
            margin-bottom: px-to-rem(20.3px);
        }
        p:first-of-type {
            font-size: px-to-rem(21px);
            line-height: px-to-rem(31.5px);
        }

        p:not(:first-of-type) {
            font-size: px-to-rem(14.5px);
            line-height: px-to-rem(20.3px);
        }
    }

    .component__title {
        background-color: map_get($colors, white);
    }

    .statcards__list {
        &-item {
            width: 100%;
        }
    }

    .statcard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;

        &__img-container {
            img {
                width: 100%;
            }
        }

        &__caption {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: px-to-rem(46.75px);
            width: 100%;
        }

        &__stat {
            font-size: px-to-rem(60px);
            font-weight: 900;
            line-height: px-to-rem(66px);
            margin-bottom: px-to-rem(13px);
            &-display {
                display: inline-flex;
                abbr {
                    text-decoration: none;
                    margin-left: px-to-rem(10px);
                }
            }
        }
        &__eyebrow {
            font-family: $mono-font;
            font-size: px-to-rem(14px);
            font-weight: 400;
            line-height: px-to-rem(20.3px);
            margin-bottom: px-to-rem(13.75px);
        }
        &__description {
            font-size: px-to-rem(19px);
            font-weight: 400;
            line-height: px-to-rem(27px);
        }

        &__eyebrow,
        &__stat,
        &__description {
            color: map_get($colors, white);
            text-align: center;
            width: 100%;
        }
    }

    @media screen and (min-width: '#{$large-breakpoint}px') {
        padding: px-to-rem(82px) 0 px-to-rem(72px) 0;
        .component__content {
            padding: 0 px-to-rem(78px);
        }
        .statcards__list {
            display: flex;
            justify-content: center;

            &-item {
                margin-bottom: 0 !important;
                margin-top: px-to-rem(-82px) !important;
                max-width: 385px;
                width: auto;
                &:not(:first-of-type) {
                    margin-left: px-to-rem(40px);
                }
            }
        }

        .statcard {
            display: block;

            &__img-container {
                margin-bottom: 0;
                margin-right: 0;
                overflow-x: visible;
                width: 100%;

                img {
                    max-width: 100%;
                    object-fit: cover;
                    transform: none;
                    width: 100%;
                }
            }

            &__caption {
                margin-top: px-to-rem(54px);
            }

            &__stat {
                font-size: px-to-rem(80px);
                line-height: px-to-rem(88px);
            }
        }
    }
}
