//*------------------------------------*\
//    $WYSIWYG COMPONENT
//*------------------------------------*/

.wysiwyg {
    margin-bottom: px-to-rem(42px);

    @media screen and (min-width: '#{$small-breakpoint}px') {
        margin-bottom: px-to-rem(99px);
    }

    .component__content {
        @media screen and (min-width: '#{$small-breakpoint}px') {
            padding-right: px-to-rem(220px); 
        }
    }
}