{#
  FOOTER COMPONENT
  SASS: /components/footer
#}
{# <footer class="component footer">
	<div class="component__content">
		<div class="footer__top">
			<div class="footer__top-address">
				
				<div class="footer__sitesubtitle">TSG Entertainment</div>
				<p> 639 Jaya Mawatha <br> Colombo 3<br> 0112638408 </p>
				<div class="footer__sitesubtitle"><a href="/wpautoterms/privacy-policy/">Privacy Policy</a></div>
				<div class="footer__sitesubtitle"><a href="/wpautoterms/terms-and-conditions/">Terms and Conditions</a></div>
				<h2 class="footer__copyright">Copyright © TSG Entertainment 2022</h2>
			</div>
			<div class="footer__top-links">
				<div class="footer__linkstitle"> <h2>Explore</h2></div>
				<ul class="footer__menulinks">
					
					<li>
						<a href="/Group%20B/index.php/80-2/">Contact Us</a>
					</li>
					<li>
						<a href="/location-page/">Locations</a>
					</li>
					<li>
						<a href="/advertise/">Advertise</a>
					</li>
					
				</ul>
			</div>
			<div class="footer__top-signup">
				<p>Get Our App Today!</p>
				<img src="\wp-content\themes\dxdy\src\images\store.png" alt="Appstore & Playstore">
			</div>
		</div> #}
		{# <div class="footer__bottom">
			<div class="footer__bottom-termsofuse">
				<div class="footer__description">
					<p>Copyright © TSG Entertainment 2022</p>
				</div>
			
		</div> #}
	{# </div>
</footer> #}