{#
  HEADER COMPONENT
  SASS: /components/header
  JS: /components/views/Header
#}
{# <header class="component header" data-visible="false" data-loadcomponent="Header">
  {% block header %}
    <div class="component__content" style="height: 6rem;">
      <div class="component__content--top">
        <div class="component__content--left-align">
          <h1 class="header__logo" role="banner"><a class="header__logo-link" href="/airingnow-page/" rel="home"><img style="max-width: 11rem;" src="\wp-content\themes\dxdy\src\images\logo.png" /></a></h1>
        </div>
        <div class="component__content--right-align">
        <nav class="header__nav--desktop" style="justify-content: center; display: flex;">
        <ul style="padding-right: 6rem;">    
        <li>
            {% filter shortcodes %}
           [ivory-search id="706" title="Default Search Form"]
            {% endfilter %} 
         </li>   
        <li>
			     <a href="/airingnow-page/">Movies</a>
			  <li>   
			  <li>
			     <a href="/Group%20B/index.php/80-2/">Contact Us</a>
			  <li>
			     <a href="/location-page/"> Find US </a>
			  </li>
			  <li>
			    <a href="/advertise/">Advertise with us </a>
			  </li>
        </ul>
        <div class="component__content--login-signup">
        <ul style="display: list-item;">
			  <li>
			     <a href="/Group%20B/index.php/login-page/">Login Here</a>
			  </li>
			  <li>
			     <a href="/signup-page/"> Sign Up page </a>
			  </li>	 	 		  
        </ul>
        </nav>
        </div>
        </div>
      </div>
    </div>
  {% endblock %}
</header> #}
